.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__icon {
  display: block;
}
@media (max-width: 992.98px) {
  .nav__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 65%;
    z-index: 10;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav__icon span {
    position: absolute;
    background-color: #f4f5f9;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    background-color: #f4f5f9;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon.active span {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  .nav__icon.active::before {
    -webkit-transform: rotate(-47deg);
            transform: rotate(-47deg);
    width: 75%;
  }
  .nav__icon.active::after {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
    width: 75%;
  }
}
@media (max-width: 992.98px) {
  .nav__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #31353f;
    padding-top: 180px;
    z-index: 5;
  }
}
.nav__body.active {
  top: 0;
}